# Ignorar a pasta node_modules
**/node_modules/

# Ignorar os arquivos SAM
**/.aws-sam/
**/samconfig.toml

# Ignorar tudo na pasta FunctionHealth
**/FunctionHealth/*

# Exceto o arquivo agilfacil-health.py
!FunctionHealth/agilfacil-health.py